/* Scoped Styles for SignIn Component */
.signin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .signin-wrapper {
    width: 420px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: 2px solid rgba(236, 214, 13, 0.89);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 30px 40px;
  }
  
  .signin-wrapper h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .signin-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
  
  .input-box i {
    position: absolute;
    right: 10px;
    top: 20%;
    font-size: 20px;
    color: white;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  
  .signin-wrapper .btn {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 27px;
    color: #333;
    font-weight: 100;
  }
  
  .signin-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  